.gvs .gvs-loader
{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Loader overlay */
.gvs .gvs-loader {
	visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgb(38,50,56);
	background: linear-gradient(30deg, rgb(38, 50, 56) 0%, rgb(176, 190, 197) 100%);
	z-index: 9000;
	transition: all 0.5s;
	font-family: sans-serif;
	color: white;
	font-size: 1.4em;
	text-align: center;
}

.gvs .gvs-loader.gvs-loader-visible {
	visibility: visible;
	opacity: 1;
}

@keyframes rotating {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.gvs .gvs-loader .gvs-loader-img {
	width: 150px;
	animation: rotating 2s linear infinite;
}

/* Blinking dots for loader overlay */
@keyframes blink {50% { color: transparent }}
.gvs-loader-dot { font-size: 1.7em; animation: 1s blink infinite; }
.gvs-loader-dot:nth-child(2) { animation-delay: 250ms }
.gvs-loader-dot:nth-child(3) { animation-delay: 500ms }
